<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Add new</title>
</head>
<body>
       <h2 style="text-align: center;">Let's add for you...!!</h2>
       <form method="post" action="/users/add">
              <label for="name">Name</label>
              <input type="text" name="userName" id="name">
              <label for="email">Email</label>
              <input type="email" name="email" id="email">
              <label for="password">Password</label>
              <input type="password" name="password" id="password">
              <button>Submit</button>
       </form>
</body>
</html>