<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>home</title>
</head>
<body>
       <h2>Number of users in our app is <%=data %> </h2>
       <button>Join us now</button>
</body>
</html>