<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>New post</title>
</head>
<body>
       <form method="post" action="/posts">
              <label for="name">Name: </label>
              <input type="text" name="name" id="name">
              <label for="content"></label>
              <textarea name="content" placeholder="type your content" id="content"></textarea>
              <button>Submit Post</button>
       </form>
</body>
</html>