<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Document</title>
       <link rel="stylesheet" href="/viewpost.css">
</head>
<body>
       <h2 style="text-align: center;">View your post</h2>
       <div class="ppost">
              <h4>Name: <%=post.name%></h4>
              <p>Post: <%=post.content%></p>
              <strong>Likes: <%=post.likes%></strong>
              <strong>Likes: <%=post.comments%></strong>
       </div>
</body>
</html>